* {
    margin:auto;
    padding: 10px;
    border-radius: 5px; 
    
}

body {
    background-color: #ccc;
    text-align: center;
    color: #444;
    width: auto;
}


div {
font-family: "Ubuntu";
font-size: large;
#text-align: center;
#align: left;
}

.controls .block {
    display: inline-block;
    background-color: #bbb;   
}

.controls .block:hover{
    background-color: #aaa;
}