* {
  margin:auto;
  padding: 7px;
 
}

body {
background-color: #ccd;
text-align: center;
}


div {
font-family: "Comic Neue";
font-size: normal;
align: center;
}

#.header {
#
#}
.controls .block {
display: inline-block;
}
